html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: default;
}


body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

header {
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    margin-bottom: 2rem;
}

header ul {
    padding: 20px;
    margin:  0px;
}

header a:hover{
    background-color: beige;
    color: black;
}

.nav-links {
    list-style-type: none;
    display: inline-block; 
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}

p {
    padding-bottom: 20px;
}

hr {
    margin: 0px;
}

main{
    padding: 10px;
    background-color: #010128;
    border: 5px solid;
    padding: 3rem;
    margin-top: 0rem;
    width: 100%;
}

.datos {
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.datos, a{
    text-decoration: none;
    color: white;
    padding: 1px;
}

#mainMisDatos {
    text-align: center;
    padding-top: 1rem;
}

#mainMisDatos a:hover {
    background-color: beige;
    color: black;
}

#informacion {
    font-size:large;
    line-height: 300%;
    margin-bottom: 0%;
    text-align: left;
    padding-top: 1rem;
    text-align: center;
    display: block;
}

footer {
    background-color: rgb(51, 4, 78); 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    cursor: default;
    margin-top: 3rem;
    
}

footer p {
    padding: 1rem;
    font-size: large;
}

footer p:hover{
    background-color: beige;
    color: black;
    transition: 800ms;
}

@media only screen and (max-width: 768px) {

    .menu-nav {
        font-size: 1rem;
    }
    .datos {
        margin: 0px;
        font-size: 0.8em;
    }

    header a::selection{
        background-color: beige;
        color: black;
    }

    #informacion {
        margin: 0%;
        margin-top: -9%;
    }
      
}
